<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://alexmorgan.design/portfolio" version="2.0.0" height="1080" width="1920" viewmodes="maximized">
  <access origin="*" subdomains="true" />
  <tizen:application id="AMCreativeDesigner.Portfolio" package="AMCreativeDesigner" required_version="2.3" />
  <content src="index.html" />
  <feature name="http://tizen.org/feature/screen.size.all" />
  <icon src="icon.png" />
  <name>Alex Morgan — Creative Designer</name>
  <tizen:profile name="tv" />
</widget>
